body {
    /* Propriedade para alterar a cor de fundo */
    background-color: rgb(16, 122, 105);
    color: azure
}

nav{
    background-color: black
}

h1{
    color: azure
}

h2{
    color: blue
}

p{
    color: black
}

a{
    text-decoration: none;
    color: azure;
}